.contact_wrapper {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ccc;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .download-button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-transform: none;
  }

  a {
    text-decoration: none;
  }
}
